.container {
    justify-content: space-between;
    width: 100%;
    padding: 15px 120px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.links-container , .container {
    display: flex;
    align-items: center;
    gap: 30px;
}