.button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 6px 8px;
    font-weight: 100;
    cursor: pointer;
}